*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
input{
    display: none;
}
.container{
    width: 100%;
    text-align: center;
}
h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 30px 0;
}
h1::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background-color:plum;
    bottom: -10px;
    left: 50%;
    transform:translateX(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 80px;
    }
    50%{
        width: 100px;
    }
    100%{
        width: 80px;
    }
}
.top-content{
    background-color:lightskyblue;
    width: 80%;
    margin: 0 auto 10px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    box-shadow: 3px 3px 5px black;
}
h3{
    height: 100%;
    background-color: rgb(135, 135, 245);
    line-height: 60px;
    padding: 0 50px;
    color: navy;
}
label{
    display: inline-block;
    height: 100%;
    margin: 0 30px;
    line-height: 60px;
    font-size: 18px;
    color:rgb(14, 13, 13);
    cursor: pointer;
    transition: color .5s;
}
label:hover{
    color: white;
}
.photo-gallery{
    width: 150%;
    margin: auto;
    display:initial;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1px;
    background-color: transparent;
    padding: 1px;
}

.pic{
    position: relative;
    height: 600px; 
    width: auto;  
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    cursor: pointer; 
    transition: .5s;
}
.pic img{
    width: 50%;
    height: 80%;
    border-radius: 1px;
    transition: .5s;
}
.pic::before{
    content: "PHOTO GALLERY";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translated(-50%, -50%);
    color: black;
    font-size: 22px;
    font-weight: bold;
    width: 100px;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
}
.pic:after{
    content:"";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 100px;
    height: 100%;
    background-color: transparent;
    transition-delay: .3s;
    z-index: 1;
}
.pic:hover::after{
    height: 100%;
}
.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}
#check1:checked ~ .container .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}
#check2:checked ~ .container .photo-gallery .family{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#check2:checked ~ .container .photo-gallery .Athirah,
#check2:checked ~ .container .photo-gallery .BTS{
    opacity: 0;
    transform: scale(0);
    position: absolute;  
    transition: 0s;
}
#check3:checked ~ .container .photo-gallery .Athirah{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#check3:checked ~ .container .photo-gallery .family,
#check3:checked ~ .container .photo-gallery .BTS{
    opacity: 0;
    transform: scale(0);
    position: absolute;  
    transition: 0s;
}
#check4:checked ~ .container .photo-gallery .BTS{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#check4:checked ~ .container .photo-gallery .Athirah,
#check4:checked ~ .container .photo-gallery .family{
    opacity: 0;
    transform: scale(0);
    position: absolute;  
    transition: 0s;
}